# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml

# Environments
.env
venv/

# Docs
docs/build

# IDE
.idea/
.vscode/

# Other
dist/